.leftmenu{
    width: 30%;
    float: left;
}
.content{
    float: left;
}
.row{
    position: relative;
}
.list ul {
    position: absolute;
    margin: auto;
    display: block;
}
nav{
    background-color: violet;
    position: fixed;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}