body{
    margin: 0;
}

#main {
    background-color: white;
}
.header{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
#logo{
    background-color: red;
    width: 20%;
    height: 100%;
    float: left;
}
#banner{
    background-color: yellow;
    width: 80%;
    height: 100%;
    float: left;
}
#left{
    background-color: antiquewhite;
    width: 20%;
    height: 600px;
    float: left;
    margin-bottom: 10px;

}

#content{
    background-color: yellowgreen;
    width: 50%;
    height:600px;
    float: left;
    margin-bottom: 10px;

}
#right{
    background-color: antiquewhite;
    width: 30%;
    height: 600px;
    float: left;
    margin-bottom: 10px;
}
#footer{
    background-color: aquamarine;
    width: 100%;
    height: 80px;
    clear: both;
    margin-bottom: 10px;
}